/* .ant-menu,
.ant-menu-sub,
.ant-menu-inline {
  color: black;
  background-color: #ffffff !important;
}

.ant-menu-submenu > .ant-menu {
  background-color: #ffffff !important;
}
.ant-menu-submenu-title {
  color: rgb(0, 0, 0) !important;
}

.ant-menu-inline {
  border: none;
}

.ant-menu-item a {
  color: white !important;
}
.ant-menu-item a:hover {
  color: #6c996b !important;
  /* background-color: #6d6968 !important; */
/* }
Drop down arrow style .ant-menu-submenu-arrow {
  color: #6d6968 !important;
} */

/* // .ant-menu-submenu-active {
//   background-color: #fff !important;
//   color: #044d50 !important;
// } */

/* .ant-menu-item-selected {
  background-color: #6d6968 !important;
  color: white !important;
}

.ant-menu-item-active {
  background-color: #6d6968 !important;
  color: white !important;
}
.change {
  height: 40px;
  border: none;
  border-radius: 2px;
  outline: none;
  font-size: 10px;
  width: 170px;
}  */

.edit_hover_class {
  visibility: hidden;
}
.showicon:hover .edit_hover_class {
  visibility: visible;
}
