.footer {
  background-image: url(../../image/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 17px;
  margin-top: 150px;
}
.icon {
  height: 15px;
  width: 15px;
  color: #1cc7c1;
  border-radius: 50%;
  border: 1px solid #6acece;
  padding: 10px;
}
.active-icon {
  background-color: #6acece;
  color: white;
}
